body {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 80%;
	max-width: 960px;
	margin: 60px auto 0px;
  padding: 20px;
  /*position: relative;*/
}

nav {
	background: #4B4A67;
	background-image: url("images/marbled-gradient.jpg");
	background-size: 100%;

	border: 0px;
	height: 60px;
	position: fixed;
	/*position: sticky;*/
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 5;
}

.nav-list {
	list-style-type: none;
	width: 90%;
}

.nav-item {
	display: block;
	float: right;
	font-size: 20px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

nav a {
	color: #efebf7;
	font-weight: normal;
	font-family: 'Lora', serif;
	text-shadow: 1px 1px black;
}

nav a:hover {
	text-decoration: none;
	/*color: white;*/
	/*color: #62929E;*/
	color: #93B7BE;
}

h1, h2 {
	font-family: 'Lora', serif;
	font-size: 36px;
	font-weight: lighter;
	margin-bottom: 10px;
	margin-top: 10px;
}

#about-me-container {
	display: flex;
}

#profile-image {
	border-radius: 50%;
	display: inline-block;
	float: left;
	/*margin: 20px;*/
	margin-top: 20px;
	margin-right: 20px;
	/*position: relative;*/
	vertical-align: top;
	height: 200px;
}

mark {
	background-color: #feff94;
}

emphasis {
	/*text-decoration: underline #888;*/
	/*border-bottom: 2px solid #888;*/
	text-shadow: 1px 1px #D1CCDC;
}

a {
	color: #4B4A67;
	font-weight: bolder;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.icons {
	color: #888;
	font-size: 40px;
	text-align: right;
}

.icons a {
	color: #888;
	padding-right: 10px;
}

.icons a:hover {
	color: #93B7BE;
}

.footer-container {
	width: 95%;
	margin: auto;
	text-align: right;
	font-size: 14px;
	font-weight: lighter;
	color: #71709a;
}

.form-container {
	padding: 10px auto;
	width: 100%;
	max-width: 560px;
}

form label {
	padding-top: 10px;
	display: block;
	font-family: 'Lora';
}

/*.form-half-width {
	width: 45%;
	display: inline-block;
	margin: auto;
}

.form-full-width {
	width: 90%;
}*/

.form-half-width, .form-full-width {
	margin-top: 10px;
	margin-bottom: 10px;
}

form input, textarea {
	width: 100%;
	padding: 10px;
	font-family: inherit;
	font-size: inherit;
	text-align: start;
}

/*.input-small {
	width: 95%;
}*/

.input-med {
	height: 6em;
}

.resume {
	width: 100%;
	height: 100vh;
	padding: 0px;
}


/* media queries for responsivity on smaller screens or mobile devices */

/* xs */
@media only screen
and (max-width: 450px) {
	nav {
		height: 40px;
		position: absolute;
	}

	.nav-list {
		padding: 0px;
	}

	.nav-item {
		font-size: 4vw;
		margin: auto;
	}

	#about-me-container {
		display: block;
	}

	#profile-image {
		display: block;
		height: 200px;
		float: none;
		margin: auto;
	}

	h1 {
		font-size: 12vw;
		text-align: center;
	}

	h2 {
		font-size: 10vw;
	}

	body {
		font-size: 18px;
	}

	.icons {
		text-align: center;
	}
}

/* sm */
@media only screen
and (min-width: 450px)
and (max-width: 600px) {
	nav {
		height: 40px;
	}

	.nav-item {
		font-size: 3.25vw;
		margin: auto;
	}

	h1, h2 {
		font-size: 6vw;
	}

	body {
		font-size: 3.25vw;
	}

	#profile-image {
		height: 150px
	}
}

