
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
	width: 75%;
	margin: 30px auto 50px;
	float: none;
	/* background-color: rgba(255, 255, 255, 0.65); */
	padding: 20px;
	/* border-radius: 5px; */
}

nav {
	background: #EBD4CB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #F5F749, #F6F5AE);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #F5F749, #F6F5AE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 60px;
	position: sticky;
	top: 0;
	width: 100%;
}

nav a {
	color: #333;
	float: right;
	font-size: 20px;
	margin: 0px;
	padding: 10px 10px;
}

nav a:hover {
	/*text-decoration: underline wavy;*/
}

h1 {
	font-family: 'Lora', serif;
	font-size: 40px;
	font-weight: lighter;
}

.profile.image img {
	border-radius: 50%;
	/*display: inline-block;*/
	float: left;
	margin: 20px;
	vertical-align: middle;
	height: 200px;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #333;
}

#icons {
	font-size: 40px;
}

/*.fa-twitter {
	font-size: 40px;
}*/

::selection {
  background: #ffffcc; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffffcc; /* Gecko Browsers */
}
