body {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	width: 80%;
	max-width: 960px;
	margin: 60px auto 0px;
	padding: 20px;
}

nav {
	background: #4B4A67;
	background-image: url("images/marbled-gradient.jpg");
	background-size: 100%;
	font-size: 25px;

	border: 0px;
	height: 60px;
	position: fixed;
	/*position: sticky;*/
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 5;
}

.nav-list {
	list-style-type: none;
	width: 90%;
}

.nav-item {
	display: inline;
	float: right;
}

nav a {
	color: #efebf7;
	/*font-family: 'Lora', serif;*/
	/*font-weight: bolder;*/
	font-family: 'Shrikhand', sans-serif;
	/*font-size: 25px;*/
	text-shadow: 1px 1px black;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

nav a:hover {
	color: #93B7BE;
	font-size: 26px;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: none;
}

h1, h2 {
	/*font-family: 'Lora', serif;*/
	font-family: 'Shrikhand', sans-serif;
	font-weight: bolder;
	font-size: 40px;
	font-weight: lighter;
	margin-bottom: 10px;
	margin-top: 10px;
}

#about-me-container {
	display: grid;
	grid-template-columns: 6;
	grid-gap: 20px;
}

#profile-image {
	border-radius: 50%;
	height: 200px;
	grid-column: 1;
}

#about-me-summary {
	grid-column: 2 / 6;
}

mark {
	background-color: #feff94;
}

emphasis {
	text-shadow: 2px 2px #D1CCDC;
	font-weight: bold;
}

a {
	color: #4B4A67;
	font-weight: bold;
	text-decoration: none;

	/*for fade effect on hover*/
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

p a:hover {
	/*text-decoration: underline;*/
	border-bottom: 2px solid #888;
	background-color: #efebf7;
}

.icons a {
	color: #888;
	font-size: 40px;
	padding-left: 10px;
}

.fa {
	/*for fade effect on hover*/
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.fa-twitter-square:hover {
	color: #55acee;
}

.fa-github:hover {
	color: #333;
}

.fa-linkedin-square:hover {
	color: #0976b4;
}

.fa-envelope-square:hover {
	color: #dd4b39;
}

.footer-container {
	width: 95%;
	margin: auto;
	text-align: right;
	font-size: 14px;
	font-weight: lighter;
	color: #71709a;
}

.form-container {
	padding: 10px auto;
	width: 100%;
	max-width: 560px;
}

form label {
	padding-top: 10px;
	display: block;
	font-family: 'Lora';
}

/*.form-half-width {
	width: 45%;
	display: inline-block;
	margin: auto;
}

.form-full-width {
	width: 90%;
}*/

.form-half-width, .form-full-width {
	margin-top: 10px;
	margin-bottom: 10px;
}

form input, textarea {
	width: 100%;
	padding: 10px;
	font-family: inherit;
	font-size: inherit;
	text-align: start;
}

/*.input-small {
	width: 95%;
}*/

.input-med {
	height: 6em;
}

.resume {
	width: 100%;
	height: 100vh;
	padding: 0px;
}


/* media queries for responsivity on smaller screens or mobile devices */

/* xs */
@media only screen
and (max-width: 450px) {
	nav {
		height: 45px;
		background-size: auto;
	}

	.nav-list {
		padding: 0px;
		/*display: inline;*/
	}

	.nav-item {
		/*display: inline;*/
		font-size: 4vw;
		margin-left: 5px;
    margin-right: 5px;
		padding: 0px;
	}

	#about-me-container {
		display: block;
	}

	#profile-image {
		display: block;
		height: 200px;
		float: none;
		margin: auto;
	}

	h1 {
		font-size: 12vw;
		text-align: center;
	}

	h2 {
		font-size: 10vw;
	}

	body {
		font-size: 18px;
	}

	.icons {
		text-align: center;
	}

	.resume {
		width: 110%;
		padding: 0px;
	}
}

/* sm */
@media only screen
and (min-width: 450px)
and (max-width: 600px) {
	nav {
		height: 40px;
	}

	.nav-item {
		font-size: 3.25vw;
		margin: auto;
	}

	h1, h2 {
		font-size: 6vw;
	}

	body {
		font-size: 3.25vw;
	}

	#profile-image {
		height: 150px
	}

	.resume {
		width: 110%;
		padding: 0px;
	}
}
